body {
    font-family: 'Raleway', sans-serif;
}

.top-buffer {
  margin-top:10px;
}

.top-buffer-lg {
  margin-top:30px;
}

.padding-md {
  padding:20px;
  line-height:1.7em;
}

#results .media-object {
    white-space: nowrap;
}
    #results .media-object img {
        max-height: 150px;
    }
#results .breadcrumb {
    margin-bottom: 5px;
}

.slice-preview {
    position: relative;
    display: inline-block;
}

.slice-marker {
    display: block;
    width: 5px;
    height: 20px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.input-group .form-control:first-child {
    border-radius: 4px;
}
.carousel-inner > .item > img {
      margin: 0 auto;
  }

  .thumbnail, .results .slice-image {
    max-width: 160px;
    float: left;
  }

