<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>header}}
        	Digimorph + CT scans from AMNH + Wikipedia + Species API. Made for Hack the Dinos 2015.
        {{>footer}}
    </body>
</html>