{{>head}}
{{>header}}

<div class="container bs-docs-container">

  <div class="row">
    <h1>{{pageTitle}}</h1>

    <div class="row">

      {{#hierarchy}}
        <div class="col-lg-4 top-buffer">
            <div class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{{image}}" alt="" class="img-responsive"style="width:350px">
                    <div class="carousel-caption">
                      <h2><strong>{{group}}</strong></h2>
                    </div>
                </div>
            </div>
          </div>
        </div>
      {{/hierarchy}}

    </div>


  </div>
</div>

{{>footer}}
