<div class="navbar navbar-inverse top-buffer-lg">
  <ul class="nav navbar-nav">
    <li><a href="/">Copyright 2002-2015</a></li>
    <li><a href="http://www.nsf.gov">Funding by NSF</a></li>
    <li><a href="/">Creative Commons</a></li>
  </ul>
</div>
<script src="/static/js/main.js"></script>
