<nav class="navbar navbar-inverse navbar-static-top">
  <a href="/" class="navbar-brand">DigiMorph</a>
  <ul class="nav navbar-nav">
    <li><a href="/about">About</a></li>
    <li><a href="/browse">Explore</a></li>
    <li><a href="/">Submit Data</a></li>
  </ul>
</nav>
