{{>head}}
{{>header}}

<div class="container">
  <div class="row">
    <div class="panel" >
      <div class="panel-heading">
        <h1>{{pageTitle}}</h1>
      </div>
      <div class="panel-body">
        {{>search_form}}
      </div>
    </div>

  </div>

  <div id="results" class="row">
    {{>browse_partial}}
  </div>
</div>

<script id="result-template" type="x-tmpl-mustache">
  {{{results_template}}}
</script>

{{>footer}}
