<form id="search" class="form-inline">
  <div class="input-group">
    <input name="query" type="text" class="form-control">
    <label for="query">Search by common or scientific name</label>
  </div>
  <div class="input-group">
    <select name="group" class="form-control">
      <option value="test">test</option>
    </select>
    <label for="query">Group</label>
  </div>
</form>