{{>head}}
{{>header}}

<div class="container">
  <div class="row">
    <h1>{{pageTitle}}</h1>
    <div class="panel">
      <div class="panel-body">
        {{>search_form}}
      </div>
    </div>
  </div>

  <div id="results" class="row">
  </div>
</div>

<script id="result-template" type="x-tmpl-mustache">
  {{{results_template}}}
</script>

{{>footer}}