<form id="search" class="form-inline">
  <div class="input-group">
    <label for="query">Search by keyword, common, or scientific name</label>
    <input name="query" type="text" class="form-control" value="{{inital_query}}"/>
  </div>
  <div class="input-group">
    <label for="query">Filter by group</label>
    <select name="group" class="form-control">
      <option value="">Any Group</option>
      {{#groups}}
        <option value="{{name}}" {{#selected}}selected{{/selected}}>
          {{name}}
        </option>
      {{/groups}}
    </select>
  </div>
  <div class="input-group">
    <label>&nbsp;</label>
    <button type="submit" class="form-control btn btn-primary" style="color:#100427;">Search</button>
  </div>
</form>
