{{#slice_data}}
    <div class="slice-preview">
        <img
            src="{{first_slice}}"
            data-slice-urls="{{slice_urls}}"
            class="slice-image" />
        <span class="slice-marker"></span>
    </div>
{{/slice_data}}