
{{>head}}
{{>header}}

<div class="container bs-docs-container">

  <div class="row">
    <h1>{{scientificName}} <small>{{commonName}}</small> </h1>
    


    <ol class="breadcrumb">
      {{#classification}}
        <li>{{.}}</li> 
      {{/classification}} 
    </ol>

    <div class="media">

        <div class="media-left">
          <div class="panel">
            <div class="panel-body">
              <img  src="{{imageUrl}}" class="media-object"/>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Slice Preview</h3>
            </div>
            <div class="panel-body">
              {{>slice_preview}}
            </div>
          </div>
        </div>

        <div class="media-body">
          <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                  <div class="col-md-4">
                    Added by: {{addedBy}}
                    Uploaded on: {{addedByDate}}
                  </div>


                  <div class="col-md-8">
                    <div class="table-responsive">
                      <table class="table-striped" style="width:100%">
                        <tr>
                          <td>data1</td>
                          <td>data2</td>
                        </tr>
                        <tr>
                          <td>data1</td>
                          <td>data2</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

             </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              {{wikipedia}}
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
{{>footer}}
