
{{>head}}
{{>header}}

<div class="container bs-docs-container">

  <div class="row">
    <h1>{{scientific_name}} <small>{{common_name}}</small></h1>
    
    {{>classification}}

    <div class="col-md-6 text-center">
      <h2>3D Model</h2>
      <img  src="{{imageUrl}}"/>
    </div>

    <div class="col-md-6 text-center">
      <h2>Slice Preview</h2>
      {{>slice_preview}}
      <p>Drag your mouse across the image to animate.</p>
    </div>
  </div>
    


    <div class="row">
      <div class="col-md-8 top-buffer">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Wikipedia</a>
          <li role="presentation"><a href="#">Species API</a>
        </ul>

        {{wikipedia_snippet}}
      </div>
      <div class="col-md-3 top-buffer">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">About the Scan</div>
          </div>

          <div class="panel-body">
            <div class="table-responsive">
                <table class="table-striped" style="width:100%">
                  <tr>
                    <td>data1</td>
                    <td>data2</td>
                  </tr>
                  <tr>
                    <td>data1</td>
                    <td>data2</td>
                  </tr>
                </table>
              </div>
            </div>
         </div>


      </div>
    </div>
</div>



{{>footer}}
