
{{>head}}
{{>header}}

<div class="container bs-docs-container">

  <div class="row">
    <h1>{{pageTitle}}</h1>

    <ol class="breadcrumb">
      {{#classification}}
        <li>{{.}}</li> 
      {{/classification}} 
    </ol>

      <div class="media">
        <div class="media-left"
          <a href="#"> <img  src="{{imageUrl}}" class="media-object"/></a>
        </div>

        <div class="media-body">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">
              {{>specimen_detail}}
             </div>
          </div>
        </div>
        </div>
  </div>
  <div class="row">
    <div class="container">
      {{wikipedia}}
    </div>
  </div>
</div>
{{>footer}}
